<div class="cont__code-description">
  <div>
    <% if description[:link].present? %>
      <em>Title:&nbsp;</em>
      <strong>
        <%= description[:title] %>&nbsp;&#124;&nbsp;<%=
          link_to 'NLM Info Page', description[:link], target: '_blank', rel: 'external' %>
      </strong>
    <% end %>
  </div>
  <div class="cont__nlm-description"><em>Description:&nbsp;</em><%= description[:description].html_safe %></div>
</div>