<div class="card-group hide">
  <div class="card <%= 'card-inverse card-inverse-borders' if description_counter.even? %>">
    <div class="card-block">
      <% if description[:link].present? %>
        <p class="card-title lead">
          <strong><%= description[:title] %></strong>&nbsp;&#124;&nbsp;
          <%= link_to 'NLM Info Page', description[:link], target: '_blank', rel: 'external',
            class: 'btn btn-info' %>
        </p>
      <% end %>
      <span class="card-text cont__nlm-description">
        <%= description[:description].html_safe %>
      </span>
    </div>
  </div>
</div>