<h1>Diagnosis Code Descriptions</h1>
<div>
  <p>
    Need to look up a description associated with an ICD-9 or ICD-10 medical diagnosis code? Input the code below!
  </p>
</div>
<div>
  <%= form_tag codes_submit_code_path, remote: true do %>
    <%= label_tag 'diagnosis-code', 'Enter Code:' %>
    <%= text_field_tag 'diagnosis-code', nil, id: 'diagnosis-code', maxlength: 7, placeholder: 'ICD-10 Code' %>
  <% end %>
</div>
<div id="code-description-results"></div>
