<h1>Diagnosis Code Descriptions</h1>
<div>
  <p>
    Need to look up a description associated with an ICD-10 medical diagnosis code? Input the code below!
  </p>
  <p>
    ICD-9 <em>coming soon!</em>
  </p>
</div>
<div>
  <%= form_tag codes_submit_code_path, remote: true do %>
    <%= label_tag 'diagnosis-code', 'Enter Code:' %>
    <%= text_field_tag 'diagnosis_code', nil, id: 'diagnosis-code', maxlength: 7, placeholder: 'ICD-10 Code' %>
    <%= submit_tag 'Fetch Code' %>
  <% end %>
</div>
<div id="code-description-results">
  <div class="cont__code-id-title">
    <h3>Code:&nbsp;</h3><span class="cont__code-id"></span>
  </div>
  <div class="cont__description-header">
    <div>
      <h3>Diagnosis Description(s):</h3>
    <div>
    <div class="cont__code-description-result"></div>
  </div>
</div>
